@import "../../styles/mixins";

.navigation {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &_wrapper {
        @include display_flex(row, space-between, center, nowrap);
        height: 80px;

        &__body {

            &_language {
                @include display_flex(row, center, center, nowrap);

                label {
                    @include display_flex(row, center, center, nowrap);
                    img {
                        filter: invert(100%) sepia(0%) saturate(7393%) hue-rotate(129deg) brightness(118%) contrast(95%);
                    }
                }
                select {
                    border: none;
                    background: transparent;
                    outline: none;
                    font-family: "DM Sans", sans-serif;
                    @include font(18px, 700, 30px, #fff);
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    padding: 0 5px;
                    cursor: pointer;

                    option {
                        color: #000;
                    }
                }
            }
        }
    }

    a {
        @include display_flex(row, center, center, nowrap);
        gap: 24px;
    }
}

.fixed {
    background: #fff;
    color: #000;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2),
                1px 0 4px rgba(0, 0, 0, .6);
    transition: all .3s ease;

    h1, select {
        color: #000;
    }

    label {
        img {
            filter: invert(0%) sepia(90%) saturate(1%) hue-rotate(316deg) brightness(89%) contrast(100%);
        }
    }
}