@import "../../styles/variables";
@import "../../styles/mixins";

.navigation {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    &_wrapper {
        @include display_flex(row, space-between, center, nowrap);
        height: 80px;

        &__body {
            @include display_flex(row, space-between, center, nowrap);
            gap: 10px;

            &_theme {
                @include display_flex(row, center, center, nowrap);
                padding: 0;

                img {
                    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(176deg) brightness(105%) contrast(103%);
                }
            }

            &_language {
                @include display_flex(row, center, center, nowrap);

                label {
                    @include display_flex(row, center, center, nowrap);
                    img {
                        filter: invert(100%) sepia(0%) saturate(7393%) hue-rotate(129deg) brightness(118%) contrast(95%);
                    }
                }
                select {
                    border: none;
                    background: transparent;
                    outline: none;
                    font-family: "DM Sans", sans-serif;
                    @include font(18px, 700, 30px, #fff);
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    padding: 0 5px;
                    cursor: pointer;

                    option {
                        color: #000;
                    }
                }
            }
        }
    }

    a {
        @include display_flex(row, center, center, nowrap);
        gap: 24px;
    }
}

.fixed {
    background: theme-var($--navbarbgcolor);
    color: #000;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .2),
                1px 0 4px rgba(0, 0, 0, .6);
    transition: all .3s ease;

    h1, select {
        color: theme-var($--color);
    }

    label, .navigation_wrapper__body_theme {
        img {
            filter: theme-var($--iconcolor);
        }
    }
}

@media (max-width: 650px) {
    .navigation_wrapper {
        h1 {
            display: none;
        }

        &__body_language {
            label {
                display: none;
            }
        }
    }
}