@import "../../styles/mixins";

.card{
    width: 330px;
    &_wrapper {
        max-width: 250px;
        @include display_flex(column, flex-start, flex-start, nowrap);
        cursor: pointer;

        &__skeleton {
            width: 250px;
            height: 370px;
            background-color: #DDDBDD;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateX(-25%);
                background-image: linear-gradient(
                    90deg,
                    rgba(#fff, 0) 0,
                    rgba(#fff, 0.2) 20%,
                    rgba(#fff, 0.5) 60%,
                    rgba(#fff, 0)
                );
                animation: shimmer 2s infinite;
            }
        }
        
        &__image {
            transition: all .3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }

    
        &__body {
            width: 100%;

            &_release_date {
                @include font(12px, 700, 16px, #9CA3AF);
                margin: 12px 0;
            }

            &_title, &_name {
                @include font(18px, 700, 23px, #111827);
            }

            &_name {
                margin-top: 12px;
            }

            .__imdb {
                @include display_flex(row, flex-start, center, nowrap);
                gap: 10px;
                @include font(12px, 400, 12px, #111827);
                margin: 12px 0;
            }

            &_genres {
                @include font(12px, 700, 16px, #9CA3AF);
            }
        }
    }
}

@media (max-width: 1440px) {
    .card {
        width: auto;
        display: flex;
        justify-content: center;
    }
}

@keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
}