@import "../../styles/variables";
@import "../../styles/mixins";

.movies {
    width: 100%;
    margin-top: 100px;

    &_box {
        &__type {
            width: 250px;

            select {
                @include font(20px, 500, 30px, theme-var($--color));
                background: transparent;
                width: 100%;
                height: 40px;
                padding: 5px 10px;

                option {
                    background: theme-var($--bgcolor);
                }
            }
        }

        &__body {
            margin-top: 20px;
            @include display_flex(row, space-between, flex-start, wrap);
            gap: 20px 0;

            &__card{
                max-width: 250px;
            }
        }
    }
}

@media (max-width: 1240px) {
    .movies {
        &_box {
            &__body {
                @include display_flex(row, center, flex-start, wrap);
                gap: 20px 60px;
            }
        }
    }
}